body {
  position: relative;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  margin: 100px 500px;
}

.thumbnail {
  border: 3px solid rgb(25, 163, 117);
  flex: 1 0 calc(16% - 10px);
  margin: 20px;
  /* width: 200px; */
}

.thumbnail img {
  width: 100%;
}

.popup {
  background-color: bisque;
}

.nav-buttons {
  margin: 50px;
  display: flex;
  justify-content: space-around;
}

.nav-buttons button {
  font-size: 2rem;
}